
<link rel="stylesheet" href="<%= assetPath('css/user_sign_up.css') %>">

<div class="box-form">
    <div class="left">
        <div class="overlay">
        <h1>Hello World.</h1>
        <p>
            Welcome to SocialArray a place to connect with people around the world. SignUp to become part of our community.
        </p>
        <span>
            <p>SignUp with Google and make your experience faster</p>
            <a href="/users/auth/google"><i class="fab fa-google"></i></a>
            <!-- <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a> -->
        </span>
        </div>
    </div>
    
    
    <form action="/users/create" method="POST">

        <div class="right">
            <h5>Login</h5>
            <p>Already have an Account <a href="/users/sign-in">Go to Login</a></p>
            <div class="inputs">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm password" required>
            </div>
                
                <br><br>
                <button type="submit">Sign Up</button>
        </div>

    </form>
    
</div>